# Binaries
/server
/server.exe
/worker
/worker.exe
*.exe

# Docker
.docker/
docker-compose.override.yml

# Env
.env

# Go
vendor/

# OS
.DS_Store
Thumbs.db

# Certificates
*.pem
*.crt

gemini.md
*.png
